/* header */
.header{
    background-image: url(../IMAG/header-bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    
}
.header-overlay{
    background-color: rgb(31, 31, 31, 0.75);
}
.header-text h1{
    color: white;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
}
.header-text p{
    color: yellow;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}
.header-btns{
    margin-top: 90px;
    margin-bottom: 90px;
}
.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:hover,
.btn-download:visited{
    background: transparent;
    border-color: #129cf3;
    padding: 10px; 
    /* padding-bottom: 10px;padding-left: 10px;padding-right: 10px;padding-top: 10px; */
    border-radius: 3px solid;
    font-size: 19px;
    text-transform: uppercase;
}
.btn-download:hover{
    color:white;
    background-color: #129cf3;
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited{
    color: #a9adb0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background-color: transparent;
}
.btn-tour:hover{
    color: black;
    background-color: #a9adb0;
}
.btn-tour i{
    font-size: 20px;
    margin-left: 5px;
    color: #129cf3;
}
.header-iphone img{
    width: 200px;
    height: 400px;
    padding-top: 55px;
}
/* about */
.section-title{
    text-align: center;
}

.choose-us-wrapper{
    padding-top: 50px;
}
.about-phone {
    margin-top: 8px;
    width: 400px;
    height: 450px;
}
.choose-us-title{
    padding-bottom: 30px;
}
.choose-us-title h2{
    font-weight: 800;
    font-size:30px;
    line-height: 35px;
    position: relative;
}
.choose-us-title h2::after{
    content:"";
    position:absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 1px;
    background-color: green;
}
.choose-us-title p{
    margin-top: 30px;
    font-size: 15px;
    line-height: 24px;
}
.choose-us-items{
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.choose-us-items div{
    position: absolute;
    top: 0;
    left: 0;
}
.choose-us-items div i{
    font-size: 55px;
}
.choose-us-items h3{
    color:#343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
.choose-us-items p{
    color:#727272;
    font-size: 15px;
}
/* avis */
.testimonial{
    background-image: url(../IMAG/testimonial-bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}
.testimonial-overlay{
    background-color: rgb(31, 31, 31, 0.75);
}
.carousel-indicators{
    bottom: -10px;
    font-size: 10px;
}
.carousel-inner img{
    border: 2px solid #129cf3;
    border-radius: 50%;
    margin-top: 10px;
}
.testimonial-caption{
    padding-bottom: 70px;
}
.testimonial-caption h2{
    color: #129cf3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}
.testimonial-caption span{
    color: #26648b;
}
.testimonial-caption p{
    color: #d8d8d8;
    font-style: italic;
    font-weight: 300;
}
/* solutions */
.features-inner-wrapper{
    padding-top: 40px;
    padding-bottom: 70px;
}
/* left */
.left-feature-item{
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
.left-feature-item-icon{
    position: absolute;
    right: 0;
    top:-8px;
    font-size: 40px;
    color: #129cf3;
    width: 90px;
    height: 90px;
    text-align: center;
}
.left-feature-item h3{
    font-size: 25px;
    font-weight: 700px;
    margin-bottom: 25px;
    color: #333;
}
.left-feature-item p{
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.feature-iphone img{
    width: 100%;
}
/* right */
.right-feature-item{
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: left;
    margin-top: 35px;
}
.right-feature-item-icon{
    position: absolute;
    left: 0;
    top:-8px;
    font-size: 40px;
    color: #129cf3;
    width: 90px;
    height: 90px;
    text-align: center;
}
.right-feature-item h3{
    font-size: 25px;
    font-weight: 700px;
    margin-bottom: 25px;
    color: #333;
    margin-left: 85px;
}
.right-feature-item p{
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-left: 85px;
}
/* compte a rebour */
.counter{
    background-image: url(../IMAG/counter-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.counter-overlay{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgb(31, 31, 31, -4);
}
.counter-item i{
    color: #129cf3;
    font-size: 60px;
}
.counter-item h2{
    font-family: "source sans pro", sans-serif;
    color: #d8d8d8;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
}
.counter-item p{
    color: #d8d8d8;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif, "source sans pro", sans-serif ;
    text-transform: uppercase;
}
/* Plateforme */
.available-on{
    background-color: #1a1a1a;
    margin-top: -8px;
    position: relative;
}
.available-title{
    padding-top: 75px;
}
.available-title h2{
    color: #d8d8d8;
    font-size: 30px;
}
.available-title p{
    color: #a9adb0;
}
.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.available-on-item{
    text-align: center;
    border-left: 1px solid #0F1217;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
}
.available-on-item:hover{
    background-color: #0F2121;
}
.available-on-item i{
    color: #129cf3;
    text-align: center;
    opacity: 1;
    font-size: 40px;
    padding-top: 90px;
}
.available-on-item:hover i{
    opacity: 0;
}
.available-on-inner{
    position: absolute;
    bottom: 90px;
    width: 100%;
    opacity: 0;
}
.available-on-inner h2{
    text-align: center;
    font-weight: 300;
    color: #D7DADB;
    font-size: 16px;
}
.available-on-item:hover div.available-on-inner{
    opacity: 1;
}
/* contact-us */
.contact-us-form .form-control{
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    
}

#message{
    height: 117px;
    resize: none;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited{
    background-color: transparent;
    border: 1px solid #129CF3;
    border-radius: 4px;
    width: 100%;
    text-transform: uppercase;
    height: 47px;
    font-size: 18px;
    color: #129CF3;
}

.submit-btn:hover{
    background: #129CF3;
    color: #fff;
    border-color: #129CF3;
}

.social-icons{
    padding-top: 50px;
    padding-bottom: 70px;
}

.social-icons ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-icons ul li{
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 50px;
    color: #9d9d9d;
}

.social-icons ul li a:hover{
    background-color: #129CF3;
    border: 1px solid #129CF3;
    color: #FFF;
}

.social-icons ul li a i{
    font-size: 20px;
}

/* footer */
.footer{
    background-color:  #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom:3px solid #129CF3;
}

.copyright{
    width: 50%;
}

.copyright p{
    color: #8C8B8A;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

.copyright p a{
    text-decoration: none;
    color: #ebc108;
}

.scroll-up{
    text-align: right;
}

.scroll-up a{
    background-color: #129CF3;
    padding: 25px;
}

.scroll-up a i{
    color: #fff;
    font-size: 25px;
}